:host { display: inline-block; }

#frames { position: relative; }
#frames :first-child { position: static; }
#frames img { position: absolute; top: 0px; left: 0px; transform: translateZ(0); }

#controller { background-color: grey; opacity: 0; }
#progress { width: 1%; height: 20px; background-color: green; }
